---
title: Open Budget
layout: budget
---

    <div class="jumbotron">
      <div class="container">
        
        <div class="row">
          <h1 class="text-center">Open Budget</h1>

        		
        			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        			
        				<p class="quiet hidden-xs hidden-sm">
                  <%= 
                    truncate_words("Nobis et aspernatur debitis voluptatem minima. voluptatem aut eum ad. ad pariatur est nobis deleniti blanditiis nemo quos praesentium et quae omnis. necessitatibus omnis cum minima facilis rem consequatur ducimus possimus quasi illo velit est est ullam. tempore consequuntur nisi iusto quidem praesentium inventore eos rem ipsum quas nesciunt voluptatem Debitis modi fugiat velit voluptatem minus magni animi eius eveniet ea corrupti ab occaecati. quia corrupti tenetur nihil nihil nesciunt omnis doloremque. officia quas est et odit corporis repellat sint. ut recusandae ipsa est. et saepe id distinctio voluptas aut aut ut ab praesentium ipsum magnam quibusdam eum illo", :length => 45) 

                  %>
             

        				  <p class="text-center"><a class="btn btn-default btn-md" href="about/" role="button">About &raquo;</a></p>
        		
        		</div>
        	</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

      		<div class="col-md-8 col-lg-offset-1">
      			<h2 class="h6 quiet">Operating Budget Summary</h2>
      		</div>

      </div>

      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-5 col-sm-offset-0 col-lg-offset-1">

      
      <div class="panel panel-summary">
          <div class="panel-header">
            <h3>Spending</h3>
          </div>
          
          <div class="panel-body">
            <p class="figure-primary h3"><span class="currency">$</span>212,345,879 <small class="figure-label">Projected Spending 2015 &amp; 2016</small></p>
            <hr />

            <p class="summary-content">
                 The total spending budget for this fiscal year reflects our 2015 &amp; 2016 operating budget priorities as established by the city council. 
            </p>
          </div>

          <div class="panel-footer button">
              <a href="bar" class="btn btn-block btn-primary">Start Here &raquo;</a>
          </div>
      </div>



        </div>
        <div class="col-sm-6 col-md-6 col-lg-5 ">
        	
          <div class="panel panel-summary">
            <div class="panel-header">
              <h3>Revenues</h3>
            </div>
            
            <div class="panel-body">
              <p class="figure-primary h3"><span class="currency">$</span>212,400,430 <small class="figure-label">Projected Revenues 2015 &amp; 2016</small></p>
              <hr />

              <p class="summary-content">    
                 
              The total projected revenues for this fiscal year is designed to meet our 2015 &amp; 2016 spending priorities while retaining extra revenues for our rainy day fund. 

            </p>
          </div>

          <div class="panel-footer button">
              <a href="#" class="btn btn-block btn-primary">Start Here &raquo;</a>
          </div>
      </div>

       </div>

      </div>

</div> <!-- /container -->


<div class="jumbotron bump-top">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-6 col-md-offset-0 col-lg-offset-1">

          <h4 class="h6 quiet">Capitol Budget Summary</h4>
          <p class="copy">Nobis et aspernatur debitis voluptatem minima. voluptatem aut eum ad. ad pariatur est nobis deleniti blanditiis nemo quos praesentium et quae omnis. necessitatibus omnis cum minima facilis rem consequatur ducimus possimus quasi illo velit est est ullam. tempore consequuntur nisi iusto quidem praesentium inventore eos rem ipsum quas nesciunt voluptatem Debitis modi fugiat velit voluptatem minus magni animi eius eveniet</p>

      </div>

      <div class="col-md-5 col-lg-4">

        <div class="panel panel-summary">
            <div class="panel-header">
              <h3>Capitol Budget</h3>
            </div>
            
            <div class="panel-body">
              <p class="figure-primary h3"><span class="currency">$</span>12,355,560 <small class="figure-label">Projected Revenues 2015 &amp; 2016</small></p>
              <hr />

              <p class="summary-content copy">    
                 
              The total projected spending that will go toward infrastructure and capitol projects over the next 2 years.

            </p>
          </div>

          <div class="panel-footer button">
              <a href="#" class="btn btn-block btn-primary">Start Here &raquo;</a>
          </div>
      </div>

      </div>
    

    </div>
  </div>
</div>


