---
title: Style Guide
layout: styleguide
---
    
      
      <div class="jumbotron">
        <h1>Styleguide</h1>
        <p>Say 'hello' to our basic style guide. This will be used to define the basic, common componets and building blocks for Socrata Apps.</p>
        <p>Since it's a work in progress, expect regular changes and revisions.</p>   
      </div>
   

   
  