---
title: Style Guide
layout: styleguide
---
    
      
      <div class="jumbotron">
        <h1>Styleguide</h1>
        <p>Say 'hello' to our basic style guide. This will be used to define the basic, common componets and building blocks for Socrata Apps.</p>
        <p>Since it's a work in progress, expect regular changes and revisions.</p>   
      </div>


      <div class="row">

      	<div class="col-md-12">
      		<h3 class="h5">Sample Views and Prototypes</h3>
      		<ul>
      			<li><a href="/samples/payroll/">Payroll</a></li>
      			<li><a href="/samples/d3/">Budget</a></li>
      			
			</ul>
		</div>
      </div>
   

   
  